<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="cadena_conexion" connectionString="server=DESKTOP-JVBCI3N\SQLEXPRESS;database=POSSystemDB;integrated security=true;TrustServerCertificate=true;" providerName="MySql.Data.SqlClient" />
	</connectionStrings>
</configuration>